.dao-radio-group {
  display: inline-flex;

  vertical-align: middle;
  &--vertical {
    flex-direction: column;
    .dao-radio-wrapper {
      display: flex;
      & + .dao-radio-wrapper {
        margin-top: 10px;
      }
    }
  }
  &--horizontal {
    margin-bottom: -5px;
    .dao-radio-wrapper {
      margin-right: 30px;
      margin-bottom: 5px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
