@import '../dao-color.scss';

$radio-font-size: 14px;

.dao-radio {
  position: relative;

  display: inline-flex;

  vertical-align: middle;
  white-space: nowrap;

  align-items: center;
  & + span {
    padding: 0 5px;
  }
  &-wrapper {
    font-size: $radio-font-size;
    line-height: 1;

    display: inline-flex;

    cursor: pointer;
    vertical-align: middle;

    color: $black-dark;

    align-items: center;
    &--disabled {
      cursor: not-allowed;
    }
  }
  &--checked {
    .dao-radio-inner {
      border-color: #2d91fb;
      background-color: #3b99fc;
      box-shadow: none;
      &:after {
        transform: scale(1);
      }
    }
  }
  &--disabled {
    & + span {
      color: $grey-dark;
    }
    .dao-radio-input {
      cursor: not-allowed;
    }
    &,
    &.dao-radio--checked {
      .dao-radio-inner {
        border-color: rgba($black, .2);
        background-color: rgba($black-dark, .05);
        box-shadow: none;
        &:after {
          background: $black-light;
        }
      }
    }
  }
  &-inner {
    position: relative;
    top: 0;
    left: 0;

    display: inline-block;

    box-sizing: border-box;
    width: 14px;
    height: 14px;

    border: 1px solid rgba($black, .2);
    border-radius: 50%;
    background: $white;
    box-shadow: inset 0 1px 2px 0 rgba($black, .25);
    &:after {
      position: absolute;
      top: 4px;
      left: 4px;

      display: table;

      box-sizing: border-box;
      width: 4px;
      height: 4px;

      content: '';
      transform: scale(0);

      border-radius: 50%;
      background-color: $white;
      box-shadow: 0 1px 1px 0 #1474dc;
    }
  }
  &-input {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;

    cursor: pointer;

    opacity: 0;
  }
}
